*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

body{
    background-color: lightgray;
}

.casella{
    border-radius: 10%;
    width: 100px;
    text-align: center;
}

.casella{
    background-color: darkcyan;  
}

.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.simbolo{
    border-radius: 50%;
    border: 1px solid green;
    text-align: center;
    color: green;
}

.cella-azzurra{
    display: inline-block;
    background-color: darkcyan;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25%;
}
/*************header***********/

header{
    width: 100%;
    background-color: white;
    display: inline-block;
    font-size: 4rem;

}

#container{
    margin-left: 30px;
}

main .container{
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100%;
    border-radius: 5%;
}

main .container #container .button{
    display: inline-block;
    margin-top: 20px;
    height: 30px;

}