*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
}

body{
    background-color: lightgray;
}

.casella{
    border-radius: 10%;
    width: 100px;
    text-align: center;
}

.section{
    margin-top: 20px;
    margin-bottom: 20px;
}

.simbolo{
    border-radius: 50%;
    text-align: center;
}

.green{
    color: green;
    border: 1px solid green;
}

.red{
    color: red;
    border: 1px solid red;
}
.yellow{
    background-color: yellow;
}

.cella{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25%;
}

.margin-up{
    margin-top: 20px;
}

.margin-down{
    margin-bottom: -20px;
}

.darkcyan{
    background-color: darkcyan;
}

.viola{
    background-color: violet;
}

.lightgreen{
    background-color: lightgreen;
}

.orange{
    background-color: orange;
}

header{
    width: 100%;
    background-color: white;
    display: inline-block;
    font-size: 4rem;

}

#container{
    margin-left: 100px;
}

main .container{
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100%;
    border-radius: 5%;
}

#button{
    border: 1px solid black;
    border-radius: 5%;
    color: gray;
    border-color: grey;
}

main .container #container .button{
    display: inline-block;
    margin-top: 20px;
    height: 30px;

}